img[src="./img/logoRevlySlogan.png"] {
    width: 100%;
    max-width: 500px;
}

/* CHECK IF IS CORRECT TO PUT img RULE LIKE THIS*/
img {
    width: 100%;
}

body {
    background-color: white;
    background: linear-gradient(rgba(126,191,167,1), rgba(224,126,96,1)) fixed;
    padding-left: 5%;
    padding-right: 5%;
}

main {
    margin-top: 8%;
}

article .col-2 img {
    width: 100%;
    max-width: 75px;
}

ul li {
    list-style: none;
}

article, form[action="create-post.php"], .comment {
    border-radius: 15px;
}

.recent-searches, .show-users, .settings-section{
    border-radius: 15px 15px 0 0;
}

.like-icon {
    cursor: pointer;
}

a, a:visited, a:link, a:visited:active {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #EE9D9B;
    transition: color 0.2s ease;
}

a:active, a:link:active {
    color: #F28380;
    transition: color 0.1s linear;
}

.revly-primary-color {
    color: #EE9D9B;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  